


  * {
    padding: 0;
    margin: 0;
  scroll-behavior: smooth;
}

body{background-color: #ffffff !important;
font-family: "roboto" !important; }

.navbar {
	background-color: transparent !important;
}


header {
	background-color: #71fa22;
}

#destacados {
	background-color: #22fa6a !important;
}

.destacados2 {
	background-color: #ffffff !important;
}


.tarjeta{
	height: 250px !important;
	width: 210px !important;
	background: #CBCACA;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.tarjeta-wrap{
	-webkit-perspective: 800;
	perspective: 800;
}
.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	color: #fff;
	font-family: "open sans";
  background: #e0a80d;
}


.tarjeta2{
	height: 210px !important;
	width: 270px !important;
	background: #CBCACA;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.tarjeta-wrap{
	-webkit-perspective: 800;
	perspective: 800;
}
.tarjeta-wrap:hover .tarjeta2{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}




/*diseño web*/

.dweb {
	background-color: #46fa22 !important;
  }
  

/*Imagenes Diseño web*/

.card13{
	background-image: url(../img/ricomida8.jpg);
	background-size: cover;
}

.card14{
	background-image: url(../img/viajeschile7.jpg);
	background-size: cover;
}

.card15{
	background-image: url(../img/cuppon2.jpg);
	background-size: cover;
}

.card16{
	background-image: url(../img/iguana1.jpg);
	background-size: cover;
}

.card17{
	background-image: url(../img/suricata7.jpg);
	background-size: cover;
}

.card18{
	background-image: url(../img/yinyang3.jpg);
	background-size: cover;
}

.card19{
	background-image: url(../img/blockbuster3.jpg);
	background-size: cover;
}

.card20{
	background-image: url(../img/castillo4.jpg);
	background-size: cover;
}

.card21{
	background-image: url(../img/peliculas1.jpg);
	background-size: cover;
}

.card22{
	background-image: url(../img/m2.jpg);
	background-size: cover;
}

.card23{
	background-image: url(../img/m1.jpg);
	background-size: cover;
}


.card24{
	background-image: url(../img/m3.jpg);
	background-size: cover;
}



footer {
  background-color: #131212 !important;
}

h3 {
	display: inline-block;
	font-family: "Cooper Black";
  font-size: calc(2.0rem + 0.3vw) !important;
} 

h1 {
	font-family: "Cooper Black";
}

.titulo {
	font-family: "Cooper Black";
	font-size: calc(2.0rem + 0.5vw) !important;
}

.titulo2 {
	display: inline-block;
	font-family: "Cooper Black";
	font-size: calc(1.0rem + 0.3vw) !important;
	background-color: #fff;
}

.titulo3 {
	display: inline-block;
	font-family: "Cooper Black";
	font-size: calc(1.0rem + 0.3vw) !important;
	background-color: #fff;
}



/*tarjeta*/
.card-title {
	font-family: 'Archivo Black';
    font-weight: 400;
	font-size: calc(2rem) !important;
}

.descripcion {
	font-family: 'Roboto Mono';
	font-weight: 100;
	font-size: calc(0.8rem) !important;
	color: #fff  !important;
}

a:link, a:visited, a:hover{
	text-decoration: none !important;
	color: white !important;
  }  

/*animaciones */



@keyframes w1 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1000px;
	}
}

/* ==========================
   [09]. Contact
========================== */

.contact {
    padding: 0 0 0 0;
    background: #2d2e2e;
}

.contact h2 {
    font-size: 30px;
    font-weight: 800;
    color: #e0a80d;
    margin-bottom: 60px;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #fcf2f2;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #e0a80d;
    color: #ffffff;
}
.contact .info {
    padding-left: 40px;
}

.contact .info span {
    font-size: 20px;
    color: #e0a80d;
}

.contact .info p {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #eee;
}

